<nav class="navbar border-bottom border-body">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['']">
            <img src="../Logo.png" alt="Kreitekfy logo" class="logo d-none d-md-inline" width="auto" height="50">
            <img src="../icon.png" alt="Kreitekfy icon" class="icon d-md-none" width="auto" height="50">
          </a>      
          <div class="d-flex align-items-center" role="search">
            <span *ngIf="isLoggedIn" class="user-name me-3">{{userName}}</span>
            <button class="btn btn-lg btn-outline-success">{{ isLoggedIn ? 'Logout' : 'Login' }}</button>
          </div>
    </div>
  </nav>