<div class="container-fluid" *ngIf="latestSongs.length > 0">
  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
    {{ errorMessage }}
</div>
    <div class="title" *ngIf="!errorMessage">
      <h3>Novedades</h3>
      <span class="show-all"[routerLink]="['/songs']">Mostrar todas</span>
    </div>
    <div class="row row-cols-1 row-cols-md-5 g-4">
      <div class="col" *ngFor="let song of latestSongs">
        <div class="card" [routerLink]="['/songs', song.id]">
          <img [src]="'data:image/png;base64,' + song.albumCover" class="card-img-top" alt="Album Cover">
          <div class="card-body">
            <h5 class="card-title">{{ song.title }}</h5>
            <p class="card-text">{{ song.artistName }}</p>
           
          </div>
          <small class="added">{{song.humanizedAddedAt}}</small>
        </div>
      </div>
    </div>
  </div>
  