<div class="container-fluid" *ngIf="!isLoggedIn; else loggedIn">
  <div class="background-container">
    <img class="background" src="../background.png" width="100%" height="auto">
    <img class="logo" src="../logowhite.png" alt="Logo">
  </div>
</div>

<ng-template #loggedIn>
  <div class="container-fluid logged">
    <div *ngIf="isLoading">
      <app-spinner></app-spinner>
    </div>

    <div *ngIf="data">
      <!-- Ocultar el select mientras isLoading es true -->
      <div *ngIf="!isLoading" class="filter-container">
        <select id="genreFilter" (change)="onGenreChange($event)" class="form-select genre-select" [value]="selectedGenre">
          <option value="">Género</option>
          <option *ngFor="let genre of genres" [value]="genre.id">{{ genre.name }}</option>
        </select>
      </div>
      
      <app-latest [genreId]="selectedGenre" (loaded)="onComponentLoaded('Latest')"></app-latest>
      <app-for-you (loaded)="onComponentLoaded('ForYou')"></app-for-you>
      <app-most-played [genreId]="selectedGenre" (loaded)="onComponentLoaded('MostPlayed')"></app-most-played>
    </div>
  </div>
</ng-template>
