<div class="container-fluid register">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card custom-card">
                <div class="card-header text-center custom-header">
                    <h3>Regístrate <span class="here">aquí.</span></h3>
                </div>
                <div class="card-body">
                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                        <!-- Nombre -->
                        <div class="form-floating mb-3">
                            <input type="text" id="name" formControlName="name" class="form-control"
                                placeholder="Ingrese su nombre" />
                            <label for="name" class="form-label">Nombre</label>
                            <div *ngIf="registerForm.get('name')?.touched && registerForm.get('name')?.invalid"
                                class="text-error">
                                <small *ngIf="registerForm.get('name')?.errors?.['required']">El nombre es
                                    obligatorio.</small>
                                <small *ngIf="registerForm.get('name')?.errors?.['minlength']">Debe tener al menos 2
                                    caracteres.</small>
                                <small *ngIf="registerForm.get('name')?.errors?.['maxlength']">No puede tener más de 50
                                    caracteres.</small>
                            </div>
                        </div>

                        <!-- Apellidos -->
                        <div class="form-floating mb-3">
                            <input type="text" id="lastName" formControlName="lastName" class="form-control"
                                placeholder="Ingrese sus apellidos" />
                            <label for="lastName" class="form-label">Apellidos</label>
                            <div *ngIf="registerForm.get('lastName')?.touched && registerForm.get('lastName')?.invalid"
                                class="text-error">
                                <small *ngIf="registerForm.get('lastName')?.errors?.['required']">Los apellidos son
                                    obligatorios.</small>
                                <small *ngIf="registerForm.get('lastName')?.errors?.['minlength']">Debe tener al menos 2
                                    caracteres.</small>
                                <small *ngIf="registerForm.get('lastName')?.errors?.['maxlength']">No puede tener más de
                                    50 caracteres.</small>
                            </div>
                        </div>

                        <!-- Email -->
                        <div class="form-floating mb-3">
                            <input type="email" id="email" formControlName="email" class="form-control"
                                placeholder="Ingrese su email" />
                            <label for="email" class="form-label">Email</label>
                            <div *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid"
                                class="text-error">
                                <small *ngIf="registerForm.get('email')?.errors?.['required']">El email es
                                    obligatorio.</small>
                                <small *ngIf="registerForm.get('email')?.errors?.['email']">El email no es
                                    válido.</small>
                                <small *ngIf="registerForm.get('email')?.errors?.['maxlength']">No puede tener más de
                                    50 caracteres.</small>
                            </div>
                        </div>

                        <!-- Contraseña -->
                        <div class="form-floating mb-3">
                            <input type="password" id="password" formControlName="password" class="form-control"
                                placeholder="Ingrese su contraseña" />
                            <label for="password" class="form-label">Contraseña</label>
                            <div *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid"
                                class="text-error">
                                <small *ngIf="registerForm.get('password')?.errors?.['required']">La contraseña es
                                    obligatoria.</small>
                                <small *ngIf="registerForm.get('password')?.errors?.['passwordStrength']">
                                    La contraseña debe tener al menos 8 caracteres, incluir una mayúscula, un número y
                                    un carácter especial.
                                </small>
                            </div>
                        </div>

                        <!-- Repetir Contraseña -->
                        <div class="form-floating mb-3">
                            <input type="password" id="repeatPassword" formControlName="repeatPassword"
                                class="form-control" placeholder="Repita su contraseña" />
                            <label for="repeatPassword" class="form-label">Repetir Contraseña</label>
                            <div *ngIf="registerForm.get('repeatPassword')?.touched && !passwordsMatch"
                                class="text-error">
                                <small>Las contraseñas no coinciden.</small>
                            </div>
                        </div>
                        <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
                            {{ errorMessage }}
                        </div>

                        <!-- Botón Enviar -->
                        <div class="d-grid">
                            <button type="submit" class="btn custom-btn">ENVIAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>